{
  "workbench.iconTheme": "material-icon-theme",
  "eslint.packageManager": "yarn",
  "editor.fontFamily": "'Fira Code', 'Droid Sans Fallback'",
  "window.menuBarVisibility": "toggle",
  "vim.insertModeKeyBindings": [
    {
      "before": ["j", "j"],
      "after": ["<Esc>"]
    }
  ],
  "vim.leader": "<Space>",
  "vim.normalModeKeyBindings": [
    {
      "before": ["<C-n>", "b"],
      "after": ["i", "<C-n>", "b"]
    },
    {
      "before": ["<Leader>", "o"],
      "after": ["o", "<Esc>"]
    },
    {
      "before": ["<Leader>", "O"],
      "after": ["O", "<Esc>"]
    },
    {
      "before": ["<Leader>", "i"],
      "after": ["^", "i", " ", "<Esc>", "v", "k", "$", "d"]
    },
    {
      "before": ["J"],
      "after": ["5", "j"]
    },
    {
      "before": ["K"],
      "after": ["5", "k"]
    }
  ],
  "vim.normalModeKeyBindingsNonRecursive": [
    {
      "before": ["<Leader>", "s"],
      "commands": [":w"]
    },
    {
      "before": ["<Leader>", "e"],
      "commands": [":q"]
    },
    {
      "before": ["<Leader>", "s", "e"],
      "commands": [":wq"]
    }
  ],
  "explorer.confirmDragAndDrop": false,
  "editor.fontLigatures": true,
  "terminal.integrated.rendererType": "dom",
  "javascript.implicitProjectConfig.checkJs": true,
  "editor.cursorBlinking": "solid",
  "gitlens.currentLine.enabled": false,
  "gitlens.hovers.currentLine.over": "line",
  "gitlens.showWhatsNewAfterUpgrades": false,
  "python.jediEnabled": false,
  "files.autoSave": "off",
  "files.associations": {
    "*.jsp": "html",
    "*.js": "javascriptreact"
  },
  "typescript.updateImportsOnFileMove.enabled": "always",
  "git.autofetch": true,
  "workbench.colorCustomizations": {
    "statusBar.background": "#272821",
    "statusBar.noFolderBackground": "#272821",
    "statusBar.debuggingBackground": "#272821",
    "activityBarBadge.background": "#FF7042",
    "list.activeSelectionForeground": "#FF7042",
    "list.inactiveSelectionForeground": "#FF7042",
    "list.highlightForeground": "#FF7042",
    "scrollbarSlider.activeBackground": "#FF704250",
    "editorSuggestWidget.highlightForeground": "#FF7042",
    "textLink.foreground": "#FF7042",
    "progressBar.background": "#FF7042",
    "pickerGroup.foreground": "#FF7042",
    "tab.activeBorder": "#FF7042",
    "notificationLink.foreground": "#FF7042",
    "editorWidget.resizeBorder": "#FF7042",
    "editorWidget.border": "#FF7042",
    "settings.modifiedItemIndicator": "#FF7042",
    "settings.headerForeground": "#FF7042",
    "panelTitle.activeBorder": "#FF7042",
    "breadcrumb.activeSelectionForeground": "#FF7042",
    "menu.selectionForeground": "#FF7042",
    "menubar.selectionForeground": "#FF7042"
  },
  "editor.quickSuggestions": {
    "other": true,
    "comments": true,
    "strings": true
  },
  "editor.hideCursorInOverviewRuler": true,
  "typescript.validate.enable": false,
  "javascript.validate.enable": false,
  "editor.letterSpacing": 0.5,
  "editor.detectIndentation": false,
  "workbench.sideBar.location": "left",
  "workbench.activityBar.visible": true,
  "editor.tabSize": 2,
  "javascript.updateImportsOnFileMove.enabled": "always",
  "eslint.autoFixOnSave": true,
  "editor.lineHeight": 25,
  "editor.minimap.renderCharacters": false,
  "editor.wordWrap": "bounded",
  "editor.minimap.enabled": false,
  "editor.formatOnPaste": true,
  "editor.renderLineHighlight": "gutter",
  "explorer.confirmDelete": false,
  "workbench.startupEditor": "newUntitledFile",
  "vim.foldfix": true,
  "vim.smartcase": true,
  "editor.renderControlCharacters": true,
  "editor.cursorStyle": "line-thin",
  "workbench.colorTheme": "Monokai Pro (Filter Machine)",
  "gitlens.blame.ignoreWhitespace": true,
  "editor.copyWithSyntaxHighlighting": false,
  "editor.suggestSelection": "first",
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "prettier.jsxSingleQuote": true,
  "prettier.semi": false,
  "editor.formatOnSave": true,
  "materialTheme.accent": "Orange",
  "emmet.syntaxProfiles": {
    "javascript": "jsx",
    "xml": {
      "attr_quotes": "single"
    }
  },
  "[javascriptreact]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "editor.fontSize": 16,
  "[markdown]": {
    "editor.defaultFormatter": "yzhang.markdown-all-in-one"
  },
  "vim.easymotion": true,
  "[typescript]": {
    "editor.defaultFormatter": "vscode.typescript-language-features"
  }
}

